<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Thank you for Register!</div>
                <div class="panel-body">
                    <form role="form" method="post" >
                    
                        <label for="username">UserName</label>
                        <input type="text" id="username" class="form-control" ng-model="user.username"  placeholder="Example: John">
              	          
                        <label for="password" class="m-t-10">password</label>
                        <input type="password" id="password" class="form-control" ng-model="user.password" >
                        
                        <label for="emailid" class="m-t-10">emailid</label>
                        <input type="text" id="emailid" class="form-control" ng-model="user.emailid" placeholder="">
                        
                        <label for="dob" class="m-t-10">dob</label>
                        <input type="text" id="dob" class="form-control" ng-model="user.dob" placeholder="">
                        
                        <label for="gender" class="m-t-10">gender</label>
                        <input type="text" id="gender" class="form-control" ng-model="user.gender" placeholder="">
                        
                        <label for="mobilenumber" class="m-t-10">mobilenumber</label>
                        <input type="text" id="mobilenumber" class="form-control" ng-model="user.mobilenumber" placeholder="">
                        
                        <center><input type="submit" class="btn btn-primary m-t-10" ng-click="registerUser()" id="submitbtn" name="submit" value="Submit"></center>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <form>
<table>
<tr><td>Username</td><td><input type="text" ng-model="user.username"></td></tr>
<tr><td>password</td><td><input type="password" ng-model="user.password"></td></tr>
<tr><td>email</td><td><input type="text" ng-model="user.email"></td></tr>



<tr><td>Select role</td><td>
<input type="radio" ng-model="user.role" value="STUDENT">Student
<input type="radio" ng-model="user.role" value="ALUMNI">Alumni
<input type="radio" ng-model="user.role" value="EMPLOYEE">Employee</td>
</tr>

<tr><td><input type="submit" ng-click="registerUser()" value="Register"></td></tr>


</table>

</form>

{{errorMessage}} -->
<!-- <tr><td><input type="submit" ng-click="registerUser()" value="Register"></td></tr> -->
</body>
</html>